@model MyApp.Models.ViewModels.IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex justify-center items-center w-full h-20 bg-slate-950">
    <div class="grid grid-cols-5 gap-2 h-full w-full p-2">
        <a asp-controller="Home" asp-action="Index" asp-route-storeId="1" class="cursor-pointer">
            @if (Model.StoreId == 1)
            {
                <div
                    class="flex justify-center items-center border border-yellow-500 bg-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/steam.svg" alt="steam store" class="object-contain w-14 h-14 rounded">
                </div>
            }
            else
            {
                <div class="flex justify-center items-center border border-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/steam.svg" alt="steam store" class="object-contain w-14 h-14 rounded">
                </div>
            }
        </a>

        <a asp-controller="Home" asp-action="Index" asp-route-storeId="25" class="cursor-pointer">
            @if (Model.StoreId == 25)
            {
                <div
                    class="flex justify-center items-center border border-yellow-500 bg-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/epicGames.svg" alt="epic games store"
                        class="object-contain w-14 h-14 rounded bg-white/90">
                </div>
            }
            else
            {
                <div class="flex justify-center items-center border border-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/epicGames.svg" alt="epic games store"
                        class="object-contain w-14 h-14 rounded bg-white/90">
                </div>
            }
        </a>

        <a asp-controller="Home" asp-action="Index" asp-route-storeId="8" class="cursor-pointer">
            @if (Model.StoreId == 8)
            {
                <div
                    class="flex justify-center items-center border border-yellow-500 bg-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/origin.svg" alt="origin store" class="object-contain w-14 h-14 rounded">
                </div>
            }
            else
            {
                <div class="flex justify-center items-center border border-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/origin.svg" alt="origin store" class="object-contain w-14 h-14 rounded">
                </div>
            }
        </a>

        <a asp-controller="Home" asp-action="Index" asp-route-storeId="5" class="cursor-pointer">
            @if (Model.StoreId == 5)
            {
                <div
                    class="flex justify-center items-center border border-yellow-500 bg-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/gamestop.svg" alt="gamestop store"
                        class="object-contain w-14 h-14 rounded bg-white">
                </div>
            }
            else
            {
                <div class="flex justify-center items-center border border-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/gamestop.svg" alt="gamestop store"
                        class="object-contain w-14 h-14 rounded bg-white">
                </div>
            }
        </a>

        <a asp-controller="Home" asp-action="Index" asp-route-storeId="4" class="cursor-pointer">
            @if (Model.StoreId == 4)
            {
                <div
                    class="flex justify-center items-center border border-yellow-500 bg-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/amazon2.svg" alt="amazon store" class="object-contain w-14 h-14 rounded">
                </div>
            }
            else
            {
                <div class="flex justify-center items-center border border-yellow-500 rounded-lg py-1 hover:bg-yellow-500">
                    <img src="/static/svgs/amazon2.svg" alt="amazon store" class="object-contain w-14 h-14 rounded">
                </div>
            }
        </a>
    </div>

</div>

<div class="flex flex-col justify-start items-start w-full md:w-9/12 h-full bg-slate-950 rounded-b-lg py-2 gap-2 overflow-y-auto pb-32 md:pb-0"
    style="background: url('/static/images/neon2.jpg') center/cover no-repeat;">

    @foreach (var deal in Model.Deals)
    {
        <div class="flex justify-start items-start w-full h-52 md:h-40">
            <a asp-controller="Game" asp-action="Index" asp-route-returnTo="Home" asp-route-gameID="@deal.GameID"
                class="relative flex justify-center w-2/5 md:w-60 h-full bg-white/20 backdrop-blur-lg">
                <img src="@deal.Thumb" class="object-contain w-full h-auto max-h-40" alt="game image">
                @if (deal.Savings == 100.00)
                {
                    <p
                        class="absolute bottom-1 w-auto h-auto text-green-400 text-center text-2xl select-none px-2 py-1 bg-black/40 backdrop-blur-sm rounded-full nabla-font ">
                        Free
                    </p>
                }
                else
                {
                    <p
                        class="absolute bottom-1 w-auto h-auto text-yellow-500 text-center text-2xl select-none p-1 bg-black/40 backdrop-blur-sm rounded-full nabla-font">
                        Save %@deal.Savings.ToString("F2")
                    </p>
                }
            </a>
            <div class="flex justify-start items-center relative w-3/5 md:w-1/2 h-full rounded-lg">
                <div
                    class="flex flex-col justify-start items-center w-full h-full bg-violet-950 md:rounded-r-full md:pr-5 gap-2">
                    <h2
                        class="w-4/5 h-1/6 text-white text-center text-lg md:text-lg font-bold overflow-x-hidden overflow-y-hidden text-ellipsis whitespace-nowrap">
                        @deal.Title
                    </h2>
                    <div
                        class="w-full h-5/6 flex flex-col justify-start items-center md:rounded-r-full bg-violet-500/60 shadow-sm shadow-black pl-2">
                        @if (deal.SalePrice == 0.00)
                        {
                            <p class="w-full md:w-3/4 h-1/4 text-green-500 text-start text-md md:text-xl">
                                FREE!
                            </p>
                        }
                        else
                        {
                            <p class="w-full md:w-3/4 h-1/4 text-white text-start text-md md:text-xl">
                                Sale: <span class="text-white">@deal.SalePrice.ToString("C2")</span> <span
                                    class="line-through text-white">@deal.NormalPrice.ToString("C2")</span>
                            </p>
                        }
                        <p class="w-full md:w-3/4 h-1/4 text-white text-start text-md md:text-xl">
                            Steam Rating: <span class="text-white">@deal.SteamRatingPercent</span>
                        </p>
                        <p class="w-full md:w-3/4 h-1/4 text-white text-start text-md md:text-xl">
                            Metacritic: <span class="text-white">@deal.MetacriticScore</span>
                        </p>
                        <a href="https://www.cheapshark.com/redirect?dealID=@deal.DealID" target="_blank" class="w-3/4 h-auto text-black text-center text-xl md:text-2xl select-none p-1 border
                        shadow-md shadow-black bg-yellow-500 border-yellow-500 rounded-t-lg border-b-0
                        hover:bg-transparent hover:text-yellow-500 hover:underline hover:shadow-none
                        transition duration-150s ease-in-out">
                            View Deal
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>