@model Game
@{
    ViewData["Title"] = "Home Page";
}
<div class="flex justify-start items-center w-full h-20 bg-slate-950 md:gap-4">
    <div class="flex justify-start md:justify-center items-center w-1/5 md:w-1/12 h-full px-2 md:px-0">
        <a asp-controller="Home" asp-action="Index"
            class="flex justify-center items-center w-full md:w-11/12 h-3/4 md:h-3/5 bg-yellow-500 rounded-lg text-center">Back
            to
            deals</a>
    </div>
    <div class="flex justify-start items-center w-4/5 h-full md:w-10/12">
        <h2
            class="text-white text-xl md:text-3xl w-full max-h-full text-start overflow-hidden text-ellipsis line-clamp-2 px-2 md:px-0">
            Searched: @TempData["searchTitle"]
        </h2>
    </div>
</div>
<div class="flex flex-col justify-start items-start w-full md:w-10/12 h-full bg-slate-950 rounded-b-lg py-2 gap-2 overflow-y-auto"
    style="background: url('/static/images/neon2.jpg') center/cover no-repeat;">
    <div class="w-full h-auto grid grid-cols-1 md:grid-cols-3 gap-1 md:gap-4">
        <p class="text-white">GAME-VIEW ID: @Model.Title</p>
        @foreach (var deal in Model.Deals)
        {
            <div class="bg-black">
                <p class="text-white">store ID: @deal.StoreID</p>
                <p class="text-xl text-white">Sale: $@deal.SalePrice </p>
                <p class="text-xl text-white">Normal: $@deal.NormalPrice</p>
                <p class="text-xl text-white">Savings % @deal.Savings</p>
                <p class="text-xl text-white"> DealID Link @deal.DealID</p>

            </div>

        }
    </div>
</div>