@model MyApp.Models.ViewModels.IndexGameVM
@{
    ViewData["Title"] = "Home Page";
}
<div id="tool-bar" class="flex justify-start items-center w-full h-20 bg-slate-950 md:gap-4">
    <div class="flex justify-start md:justify-center items-center w-1/5 md:w-1/12 h-full px-2 md:px-0">
        @if (ViewBag.returnTo == "ListedGames")
        {
            <a asp-controller="ListedGames" asp-action="Index" asp-route-title="@ViewBag.searchTitle"
                class="flex justify-center items-center w-full md:w-11/12 h-3/4 md:h-3/5 bg-yellow-500 rounded-lg text-center">
                Back
            </a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index"
                class="flex justify-center items-center w-full md:w-11/12 h-3/4 md:h-3/5 bg-yellow-500 rounded-lg text-center">
                Back
            </a>
        }
    </div>
    <div class="flex justify-start items-center w-4/5 h-full md:w-10/12">
        <h2
            class="text-white text-xl md:text-3xl w-full h-2/5 md:h-3/5 max-h-full text-start overflow-hidden text-ellipsis line-clamp-1 md:line-clamp-2 px-2 md:px-0">
            @Model.Game.Title
        </h2>
    </div>
</div>
<section id="game-section"
    class="bg-purple-950 flex flex-col md:flex-row justify-start items-start w-full h-full rounded-b-lg md:pt-2 overflow-y-auto md:overflow-y-none">
    <div id="board-container"
        class="bg-slate-950 flex flex-col justify-start items-center w-full md:w-1/4 h-auto md:h-full px-2 pt-2 md:overflow-y-auto my-scrollbar">
        <div id="image-container"
            class="flex flex-col justify-center items-center w-auto h-40 md:h-50 md:max-h-1/4 bg-purple-300/20 border border-purple-300 p-1 my-1 md:my-0 rounded-sm">
            <img src="@Model.Game.Thumb" alt="" class="w-auto h-full object-contain shadow-sm shadow-black">
        </div>
        <div id="content-container" class="flex flex-col justify-start items-start w-full h-3/4">
            <div id="group-container"
                class="flex flex-col justify-start items-center w-full h-auto bg-slate-950  md:gap-y-4">
                <div id="deals-container" class="flex flex-col justify-center items-center w-full h-auto">
                    <h3
                        class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b md:mb-4 border-white">
                        Deals</h3>
                    <ul class="w-3/4 md:w-11/12 h-auto overflow-auto rounded-b-md pt-2 md:pt-0 bg-slate-950">
                        @foreach (var deal in Model.Game.Deals)
                        {
                            <li
                                class="flex flex-col justify-center items-start w-full h-10 md:h-12 bg-yellow-500 hover:bg-slate-950  md:h-auto text-center text-black overflow-hidden rounded-full border border-yellow-700 mt-1 hover:border-slate-950">
                                <a href="https://www.cheapshark.com/redirect?dealID=@deal.DealID" target="_blank"
                                    class="flex justify-center items-center z-20 w-full h-full md:h-auto text-lg md:text-lg hover:bg-gradient-to-r from-slate-950 via-yellow-500 to-slate-950"><span
                                        class="font-bold">$@deal.SalePrice</span>:&nbsp;<span
                                        class="font-bold underline">@deal.StoreName</span></a>
                            </li>
                        }
                    </ul>
                </div>
                <div id="reviews-container" class="flex flex-col justify-center items-center w-full h-auto">
                    <h3
                        class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b mb-4">
                        Reviews</h3>
                    <div class=" w-10/12 grid grid-cols-1 md:grid-cols-2 p-2 gap-y-8 md:gap-y-6 pb-4 md:pb-0">
                        @if (Model.Game.Review.MetacriticScore != 0)
                        {
                            <div class="w-full h-full flex flex-col justify-center items-center">
                                <a class="relative flex flex-col justify-start items-center w-24 md:w-14 h-24 md:h-14 rounded-full font-bold cursor-pointer bg-slate-900"
                                    href="@Model.Game.Review.MetacriticLink" target="_blank">
                                    <button id="metacritic-rating"
                                        class="w-full h-full rounded-full outline outline-green-500 font-bold text-green-500 text-3xl md:text-lg">@Model.Game.Review.MetacriticScore</button>
                                    <h4 id="metacritic-text"
                                        class=" absolute bottom-0 w-auto text-green-500 text-center select-none bg-slate-950 text-md md:text-xs rounded-lg shadow-md shadow-green-500 px-2">
                                        MetaCritic
                                    </h4>
                                </a>
                            </div>
                        }
                        @if (Model.Game.Review.SteamRating != 0)
                        {
                            <div class="w-full h-auto flex flex-col justify-center items-center">
                                <a class="relative flex flex-col justify-start items-center w-24 md:w-14 h-24 md:h-14 rounded-full font-bold cursor-pointer bg-slate-900"
                                    href="@Model.Game.Review.SteamLink" target="_blank">
                                    <button id="steam-rating"
                                        class="w-full h-full rounded-full outline outline-red-500 font-bold text-red-500 text-3xl md:text-lg">@Model.Game.Review.SteamRating</button>
                                    <h4 id="steam-text"
                                        class=" absolute bottom-0 w-auto text-red-500 text-center select-none bg-slate-950 text-md md:text-xs rounded-lg shadow-md shadow-red-500 px-2">
                                        Steam
                                    </h4>
                                </a>
                            </div>
                        }
                        @if (Model.IgdbDetails.RatingCount != 0)
                        {
                            <div class="w-full h-auto flex flex-col justify-center items-center">
                                <a class="relative flex flex-col justify-start items-center w-24 md:w-14 h-24 md:h-14 rounded-full font-bold cursor-pointer bg-slate-900"
                                    href="@Model.IgdbDetails.RatingLink" target="_blank">
                                    <button id="igdb-rating"
                                        class="w-full h-full rounded-full outline outline-red-500 font-bold text-red-500 text-3xl md:text-lg">@Model.IgdbDetails.RatingCount</button>
                                    <h4 id="igdb-text"
                                        class=" absolute bottom-0 w-auto text-red-500 text-center select-none bg-slate-950 text-md md:text-xs rounded-lg shadow-md shadow-red-500 px-2">
                                        IGDB
                                    </h4>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.IgdbDetails.GameID))
                {
                    <div id="others-container" class="flex flex-col justify-center items-center w-full h-auto">
                        <h3
                            class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b mb-4">
                            Themes</h3>
                        <div class="flex justify-center w-10/12 h-auto">
                            <ul class="flex flex-wrap justify-center w-full gap-1">
                                @foreach (var themeGenre in Model.IgdbDetails.ThemesGenres)
                                {
                                    <li class="w-auto text-gray-300 border text-center rounded-full bg-slate-900 px-2">
                                        <p class="text-xl md:text-base">@themeGenre</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.IgdbDetails.GameID))
                {
                    <div id="others-container" class="flex flex-col justify-center items-center w-full h-auto">
                        <h3
                            class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b mb-4">
                            Platforms</h3>
                        <div class="flex justify-center w-10/12 h-auto">
                            <ul class="flex flex-wrap justify-center w-full gap-1">
                                @foreach (var themeGenre in Model.IgdbDetails.Platforms)
                                {
                                    <li class="w-auto text-gray-300 border text-center rounded-full bg-slate-900 px-2">
                                        <p class="text-xl md:text-base">@themeGenre</p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                <div id="others-container" class="flex flex-col justify-center items-center w-full h-auto">
                    <h3
                        class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b mb-4">
                        Modes</h3>
                </div>
                <div id="others-container" class="flex flex-col justify-center items-center w-full h-auto">
                    <h3
                        class="flex justify-center items-center w-3/4 md:w-1/2 h-14 md:h-10 text-center text-white text-3xl md:text-xl px-2 border-b-2 md:border-b mb-4">
                        Other</h3>
                </div>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.IgdbDetails.GameID))
    {
        <div id="game-details"
            class="flex flex-col justify-start items-center w-full md:w-3/4 h-auto md:h-full md:max-h-screen md:gap-4 bg-gradient-to-b from-slate-950 to-purple-800">
            <div id="navigation-div" class="flex flex-col justify-start items-center w-full h-auto">
                <div
                    class="flex justify-center md:justify-start items-start w-full h-12 text-white text-center text-2xl text-center font-bold gap-8 md:pl-4 bg-white/20">
                    <button class="text-center border-b border-purple-300 text-purple-300 px-2">
                        About
                    </button>
                    <button class="text-center border-t-0 border rounded-b-md px-2 bg-slate-900 shadow-md shadow-black">
                        Media
                    </button>
                    <button class="text-center border-t-0 border rounded-b-md px-2 bg-slate-900 shadow-md shadow-black">
                        More
                    </button>
                </div>
            </div>
            <div id="about-container"
                class="flex flex-col justify-start items-center w-11/12 h-auto md:h-full md:overflow-y-auto py-2 gap-4">
                @if (!string.IsNullOrEmpty(Model.IgdbDetails.Summary))
                {
                    <div class="w-full h-auto bg-purple-800">
                        <h3 class="w-auto text-2xl text-white text-center font-bold">Summary</h3>
                        <p
                            class="w-full h-auto text-white text-center text-md  lg:text-xs xl:text-lg 2xl:text-base text-center text-md">
                            @Model.IgdbDetails.Summary
                        </p>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.IgdbDetails.StoryLine))
                {
                    @if (Model.IgdbDetails.StoryLine.Length <= 300)
                    {
                        <div class="w-full h-auto max-h-32 bg-purple-900 overflow-hidden">
                            <h3 class="w-full text-2xl text-white text-center font-bold">Story</h3>
                            <p
                                class="w-full h-auto text-white text-center text-md lg:text-xs xl:text-lg 2xl:text-base text-center text-md line-clamp-3">
                                @Model.IgdbDetails.StoryLine
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="relative w-full h-auto max-h-32 bg-purple-900">
                            <h3 class="w-full text-2xl text-white text-center font-bold">Story</h3>
                            <p
                                class="w-full h-auto text-white text-center text-md  lg:text-xs xl:text-lg 2xl:text-base text-center text-md line-clamp-3">
                                @Model.IgdbDetails.StoryLine
                            </p>
                            <button class="absolute -bottom-6 right-0 text-blue-500 border">More</button>
                        </div>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <p>@TempData["Found"]</p>
    }
</section>

@section Scripts {
    <script src="/js/game.js"></script>
}

@* Date 5pm thursday 19 
    Name: 

    Pitsburg, cheesecake factory 
    3300 Monroe Avenue...
    Get of the express way 
 *@